.team {
    position: relative;
    width: 100vw;
    transform: translate3d(-50%, 0, 0);
    left: 50%;
    z-index: 96;
    background: radial-gradient(47.47% 47.47% at 50% 52.53%, #181818 0%, #353535 83.33%);
    // overflow: hidden;

    .container {
        padding: 10vw 50px;
    }

    &__back {
        position: absolute;
        width: 100%;

        img {
            width: 100%;
        }
    }
}