.intro {
    position: relative;
    width: 100vw;

    overflow: hidden;
    max-height: calc(100vh - 50px);
    height: 60vw;
    display: block;
    margin-top: 50px;

    &__video {
        video {
            width: 100%;
            position: fixed;
            object-fit: cover;
            z-index: 0;
        }
    }
}